<body style="background-color:powderblue;">
<div style="margin-left: 30%; margin-top: 10%;">
<table style="width:50%">
    <tr>
      <th>Customer_ID</th>
      <th>Name</th> 
      <th>Comapny_Name</th>
      <th>Mobile_Number</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
    <tr>
      <td>12345</td>
      <td> perfume </td>
      <td> Goorej</td>
      <td> 9876543210</td>
      <td> customer@gmail.com</td>
      <td> password12345</td>
    </tr>
    <tr>
        <td>12346</td>
        <td> perfume </td>
        <td> Goorej</td>
        <td> 9876543210</td>
        <td> customer@gmail.com</td>
        <td> password12345</td>
      </tr>
  </table>
  <button style="margin:25px;"><a routerLink = "/paymentMode">Payment Mode</a></button>
</div>
</body>