<body style="background-color:powderblue;">
<div style="margin-top: 10%;">
    <div align = "center">
        <h2> User Login</h2>
        <label for="fname">User Name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="fname">Password:</label>
        <input type="password" id="fname" name="fname"><br><br>
        <button style="margin:25px;"><a routerLink = "/view">Login </a></button>
        <button style="margin:25px;"><a routerLink = "/">back</a></button>
        <button style="margin:25px;"><a routerLink = "/signup">Signup</a></button>

    </div>
</div>
</body>