<body style="background-color:powderblue;">
<div style="margin-top: 10%;">
    <div align = "center">
        <div class="form">
        <h2> Admin Login</h2>
        <label for="fname">User Name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="fname">Password:</label>
        <input type="password" id="fname" name="fname"><br><br>
    </div>
        <button style="margin:25px;"><a routerLink = "/user">Login </a></button>
        <button style="margin:25px;"><a routerLink = "/">back</a></button>
        <button style="margin:25px;"><a routerLink = "/signup">Signup</a></button>
    
    </div>
</div>
</body>