<body style="background-color:powderblue;">
<div style="margin-left: 40%; margin-top: 10%;">
<button style="margin:25px;"><a routerLink = "/user">Login</a></button>
<button style="margin:25px;"><a routerLink = "/signup">Sing Up</a></button>
<button style="margin:25px;"><a routerLink = "/adminLogin">Admin</a></button>
<h1 style="margin:25px;"> HND Textiles</h1>
<h4 style="margin:25px;"> Fashion is the armor to survive the reality of everyday life</h4>
<button style="margin:25px;"><a routerLink = "/addProduct">Buy product</a></button>
<button style="margin:25px;"><a routerLink = "/view">Product Details</a></button>
<button style="margin:25px;"><a routerLink = "/return">Return Product</a></button>

</div>
</body>