<style>
    .center {
      
      justify-content: center;
      align-items: center;
      margin-top: 5%;
      margin-left: 50%;
    }
</style>
<body style="background-color:powderblue;">
<button class="center"><a routerLink = "/addProduct">Add Prouct</a></button>
<button class="center"><a routerLink = "/product">View Customer details</a></button>
<button class="center"><a routerLink = "/view">View Product details</a></button>
<button class="center"><a routerLink = "/return">Returned Product</a></button>
</body>