.form {
    margin: 0 auto;
    width: 300px;
}

.form label{
    display: inline-block;
    text-align: right;
    float: left;
    
}

.form input{
    display: inline-block;
    text-align: left;
    float: right;
}