<body style="background-color:powderblue;">
<div style="margin-top: 10%;">
    <div align = "center">
        <div class="form">
        <h2> Credit card  or Debit Card</h2>
        <label for="fname">Enter the card Details:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="fname">Digital Signature:</label>
        <input type="password" id="fname" name="fname"><br><br>
    </div>
        <button style="margin:25px;"><a routerLink = "/">Encrypt </a></button>
        <button style="margin:25px;"><a routerLink = "/">Decrypt</a></button>
        <button style="margin:25px;"><a routerLink = "/signup">verify</a></button>
    
    </div>
</div>
</body>