<body style="background-color:powderblue;">
<div style="margin-top: 10%;">
    <div align = "center">
    <div class="form">
    <h1> Retrun Product</h1>
    <label for="fname"> Billno</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="fname"> product ID</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="fname">Product Name</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="fname"> Product Type</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="fname"> Number of Products</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="fname"> Reason For Returning Products</label>
    <input type="textarea" id="fname" name="fname"><br><br>
    </div>
    <button style="margin:25px;"><a routerLink = "/user">Login</a></button>
    <button style="margin:25px;"><a routerLink = "/signup">Sing Up</a></button>
    <button style="margin:25px;"><a routerLink = "/">Home</a></button>
    </div>
    </div>
    </body>